[Unit]
Description=Hybrid DR FastAPI Workload
After=network.target

[Service]
Type=simple
User=appuser
Group=appuser
WorkingDirectory=/app
Environment="POSTGRES_HOST=192.168.10.30"
Environment="POSTGRES_PORT=5432"
Environment="POSTGRES_USER={{ db_user }}"
Environment="POSTGRES_PASSWORD={{ db_password }}"
Environment="POSTGRES_DB={{ db_name }}"
Environment="NODE_NAME=onprem-app-1"
ExecStart=/usr/local/bin/uvicorn app.main:app --host 0.0.0.0 --port 8000
Restart=always

[Install]
WantedBy=multi-user.target
